#header{
	background: rgb(226,97,232);
	background: radial-gradient(circle, rgba(226,97,232,1) 51%, rgba(163,49,228,1) 100%);
	color: $color__texto;
	img{
		height: 120px;
		border-radius: 50%;
	}

	a{
		font-size: 1rem;
		margin-left: 15px;
	}
}

//H2
.titulo{
	background-color: $color__titulo;
	color: $color__h2;
	text-align: center;
}

//Video
video{
    width: 50%;
    float: left;
	padding-right: 10px;
	padding-bottom: 10px;
}

//Nosotros Texto
.contenido{
	width: 100%;
}

.nosotros p{
	font-size: 1rem;
    float:right;
    width: 50%;
	text-align:justify;
	padding-right: 15px;
	font-family: $texto2;
	line-height: 180%;
	
}

//mixin h3 (productos y sevicios)
@mixin h3 {
	font-size: 20px;
	background-color: rgba(246, 198, 248, 0.945);
	color: rgb(152, 8, 248);
	text-align: center;
	
}

//Producto
.producto{
	img{
		width: 350px;
		height: 300px;
	}

	h3{
		@include h3;
	}
}

//Servicio
.servicio{
	img{
		width: 350px;
		height: 270px;
	
	}
	

	h3{
		@include h3;
	}
}	


//Contacto
.formulario{
	background-color: $color__titulo;
	float: left;
	width: 25%;
	margin-left: 200px;
	
	input{
		background-color: $color__input;
		display: block;
		width: 300px;
		text-align: center;
	}
	label{
		padding: 0;
		margin: 0;
	}
	textarea{
		align-items: center;
		height: 250px;
		width: 100%;
		margin-top: 10px;
	}
}

.boton{
	display: grid;
	grid-template-columns: 50% 50%;
	padding: 5px;
	padding-left: 30px;
	input{
		width: 80px;
		margin: 5px;
		
	}
}
.boton input:hover{
	background: $color__h2;
	border-radius: 50%;
}

.spa{
	img{
		margin: 30px 100px;
		height: 100%;
		width: 45%;
		float: right;
		display: inline;
	}
}

//footer
.whatsapp{
    height: 80px;
    width: 80px;
    position:fixed;
    bottom: 20px;
    right: 20px;
	z-index:2;

	img{
		height: 80px;
		width: 80px;
		z-index: 10;
	}
}

footer{
    bottom: 0;
	padding-top: 15px;
    position: relative;
    width: 100%;
    height: 120px;
    display: grid;
	grid-template-columns: 50% 50%;
    background: rgb(163,49,228);
	background: radial-gradient(circle, rgba(163,49,228,1) 26%, rgba(226,97,232,1) 96%);
	font-family: $texto3;
	
	.dato h4{
		font-size: 1rem;
		text-align: center;
		padding: 5px 0;
	}
	
	.dato p{
		font-size: 1rem;
		text-align: center;
	}
	
	p{
		display: block;
		text-align: center;
	}

		
	.redes{
		display: inline-flex;

		.icon:hover samp{
			color: #fff;
		}

		.icon:hover samp,
		.icon:hover{
			text-shadow: 0px -1px 0px rgba(0,0,0,0.4);
		}
		.facebook:hover samp,
		.facebook:hover :before{
			background: #3B5999;
		}
		.instagram:hover samp,
		.instagram:hover :before{
			background: #e1306c;
		}
		.youtube:hover samp,
		.youtube:hover :before{
			background: #e03047;
		}
		.whass:hover samp,
		.whass:hover :before{
			background: #30e065;
		}

		.icon{
			margin: 0 20px;
			display: flex;
			align-items: center;
			justify-content: center;
			flex-direction: column;
			position: relative;
			z-index: 2;
			cursor: pointer;
			transform: all 0.4s cubic-bezier(0.68,-0.55,0.265,1.55);

			samp{
				position: relative;
				height: 60px;
				width: 60px;
				display: block;
				background: #fff;
				text-align: center;
				border-radius: 50%;
				z-index: 2;
				box-shadow: 0 10px 10px rgba(0,0,0,0.1);

				i{
					font-size: 25px;
					line-height: 60px;
				}
			}
		}
	

	}
}


