@media only screen and (max-width: 576px) {
    body{
        width: 100%;
        line-height: 1;
        //nosotros
        video{
            padding-right: 20px;
            width: 90%;
        }
        .nosotros p{
            text-align: center;
            width: 100%;
        }
        //productos
        img{
            justify-content: center;
        }
        //servicios
        img{
            justify-content: center;
        }
        //Contacto
        .formulario{
            float: none;
            width: 350px;
            margin: 0;
            .textarea{
                width: 250px;
                
            }
        }
        .spa img{
            display: none;
        }
        
        //footer
        .whatsapp{
            display: none;
        }
    }
}

@media only screen and (max-width: 720px){
    body{
        width: 100%;

        .whatsapp{
            display: none;
        }
        //nosotros
        video{
            padding-right: 20px;
            width: 90%;
        }
        .nosotros p{
            
            text-align: center;
            width: 100%;
        }
        //productos
        img{
            justify-content: center;
        }
        //servicios
        img{
            justify-content: center;
        }
        //Contacto
        .formulario{
            float: none;
            width: 350px;
            margin: 0;
            .textarea{
                width: 250px;
                
            }
        }
        .spa img{
            display: none;
        }
        
    }
}

@media only screen and (max-width: 960px){
    body{
        width: 100%;

        .whatsapp{
            display: none;
        }
        //nosotros
        
        //productos
        img{
            justify-content: center;
        }
        //servicios
        img{
            justify-content: center;
        }
        //Contacto
        .formulario{
            margin: 0;
            width: 350px;
        }
        .spa{
            width: 50%;
            float: left;
        }
    }
}

@media only screen and (max-width: 1340px){
    body{
        width: 100%;

        .whatsapp{
            display: none;
        }
        //nosotros
        
        //productos
        img{
            justify-content: center;
        }
        //servicios
        img{
            justify-content: center;
        }
        //Contacto
        .formulario{
            margin: 0;
            width: 350px;
        }
        .spa{
            width: 50%;
            float: left;
        }
    }
}

