@media only screen and (max-width: 576px) {
    body{
        width: 100%;

        .whatsapp{
            display: none;
        }
        //nosotros
        video{
            width: 70%;
        }
        .nosotros{
            float: none;
            margin-top: 0;
            width: 100%;
            text-align: center;
        }
        //productos
        img{
            justify-content: center;
        }
        //servicios
        img{
            justify-content: center;
        }
        //Contacto
        .spa{
            display: none;
        }
        .formulario{
            float:none;
            width: 100%;
            margin-left: 0px;
            textarea{
                width: 55%;
            }
        }
    }
}

@media only screen and (max-width: 720px){
    body{
        width: 100%;

        .whatsapp{
            display: none;
        }
        //nosotros
        video{
            width: 70%;
        }
        .nosotros{
            float: none;
            margin-top: 0;
            width: 100%;
            text-align: center;
        }
        //productos
        img{
            justify-content: center;
        }
        //servicios
        img{
            justify-content: center;
        }
        //Contacto
        .spa{
            display: none;
        }
        .formulario{
            float:none;
            width: 100%;
            margin-left: 0px;
            textarea{
                width: 55%;
            }
        }
    }
}

@media only screen and (max-width: 960px){
    body{
        width: 100%;

        .whatsapp{
            display: none;
        }
        //nosotros
        video{
            width: 70%;
        }
        .nosotros{
            float: none;
            margin-top: 0;
            width: 100%;
            text-align: center;
        }
        //productos
        img{
            justify-content: center;
        }
        //servicios
        img{
            justify-content: center;
        }
        //Contacto
        .spa{
            margin: -350px 100px;
            height: 100%;
            width: 45%;
            float: right;
            display: inline;
            }
        .formulario{
            width: 45%;
            margin-left: 0px;
            textarea{
                width: 55%;
            }
        }
    }
}

@media only screen and (max-width: 1140px){
    body{
        width: 100%;

        .whatsapp{
            display: none;
        }
        //nosotros
        video{
            width: 70%;
        }
        .nosotros{
            float: none;
            margin-top: 0;
            width: 100%;
            text-align: center;
        }
        //productos
        img{
            justify-content: center;
        }
        //servicios
        img{
            justify-content: center;
        }
        //Contacto
        .spa{
            margin: -350px 100px;
            height: 100%;
            width: 45%;
            float: right;
            display: inline;
            }
        .formulario{
            width: 45%;
            margin-left: 0px;
            textarea{
                width: 55%;
            }
        }
    }
}

