@media only screen and (max-width: 576px) {
    body{
        width: 100%;
        line-height: 1;

        .inf{
            margin-left: 0;
            
        }

        //nosotros
        video{
            padding-right: 20px;
            width: 90%;
        }
        .nosotros p{
            text-align: center;
            width: 100%;
        }
        //Contacto
        .formulario{
            float: none;
            width: 350px;
            margin: 0;
            .textarea{
                width: 250px;
                
            }
        }
        //footer
        .spa img{
            display: none;
        }
        .whatsapp{
            display: none;
        }
        
        footer{
            .dato{
                h4{
                    font-size: 0.5rem;
                }
                p{
                    font-size: 0.5rem;
                }
            }
            .redes .icon{
                margin: 0 5px;

                samp{
                    height: 30px;
                    width: 30px;
                }

                i{
                    font-size: 15px;
                    line-height: 30px;
                }
            }
        }
    }
}

@media only screen and (max-width: 762px){
    body{
        width: 100%;

        .inf{
            margin-left: 0;
            p{
                width: 100%;
            }
        }

        .whatsapp{
            display: none;
        }
        //nosotros
        video{
            padding-right: 20px;
            width: 90%;
        }
        .nosotros p{
            
            text-align: center;
            width: 100%;
        }
        
        //Contacto
        .formulario{
            float: none;
            width: 350px;
            margin: 0;
            justify-content: center;
            .textarea{
                width: 250px;
                
            }
        }
        .spa img{
            display: none;
        }

        footer{
            .dato{
                h4{
                    font-size: 0.5rem;
                }
                p{
                    font-size: 0.5rem;
                }
            }
            .redes .icon{
                margin: 0 5px;

                samp{
                    height: 30px;
                    width: 30px;
                }

                i{
                    font-size: 15px;
                    line-height: 30px;
                }
            }
        }

    } 
}

@media only screen and (max-width: 960px){
    body{
        width: 100%;

        .inf{
            margin-left: 0;
            p{
                width: 100%;
            }
        }

        .whatsapp{
            display: none;
        }
        //Contacto
        .formulario{
            margin: 0;
            width: 350px;
        }
        .spa{
            width: 50%;
            float: left;
        }
    }
}

@media only screen and (max-width: 1340px){
    body{
        width: 100%;

        .inf{
            margin-left: 0;
            p{
                width: 100%;
            }
        }

        .whatsapp{
            display: none;
        }
        //Contacto
        .formulario{
            margin: 0;
            width: 350px;
        }
        .spa{
            width: 50%;
            float: left;
        }
    }
}

