$color: #cb60b3;
$color__texto: rgb(14, 13, 13);
$color__footer:   #fba6e1;
$color__titulo: blueviolet;
$color__h2: white;
$color__input: rgba(246, 198, 248, 0.945);

$texto: 'Freckle Face', cursive;
$texto2: 'Orelega One', cursive;
$texto3: 'Ubuntu', sans-serif;


